* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.logo {
    width: 15%;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
}

@media (max-width: 700px){
    main{
        grid-template-columns: 1fr;
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main img {
    background-color: orange;
    width: 100%;
}

button {
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
}

