* {
  box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

nav {
    display: flex;
}

a {
    padding: 5px;
    text-decoration: none;
    color: black;
}

.logo {
    width: 15%;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
    background-color: rgb(240, 240, 240);
    padding: 10px;
}

@media (max-width: 700px){
    main {
        grid-template-columns: 1fr;
    }
}

p { 
    font-size: 16px; 
    padding: 5px;
}

@media (max-width: 700px) {
    p{
        font-size: 12px;
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main img {
    background-color: orange;
    width: 100%;
}

button {
    background-color: rgb(25, 25, 25);
    color: white;
    width: 100px;
    height: 40px;
    margin-top: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

footer {
    background-color: rgb(240, 240, 240);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    padding: 10px;
    gap: 5%;
}

footer section {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
}

footer p {
    margin: 0;
}

